<!DOCTYPE html>
<html>
  <head>
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!DOCTYPE html>
<ul class="menu_ul" class="ul">
  <li class="menu_li"><a class="menu_a" href="/">CODE</a></li>
  <li class="menu_li"><a class="menu_a" href="/coder") }}coder">CODER</a></li>
  <li class="menu_li"><a class="menu_a" href="/venv">VENV</a></li>
</ul>
  </head>
  <header>
    <div class="banner">
      <h1> {{ page_title }} </h1> 
      <h3> A really great place. </h3>
    </div>
  </header>
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
  </footer>
 