<!DOCTYPE html>
<html>
  <head>
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>


  <header>
    <div class="banner">
      <h1> Way to CODE </h1> 
      <h3> A really great place. </h3>
    </div>
  </header>

  <!-- This is the part which will be different on each page. 
       see first-page.html for an example of using it -->
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
    <h3> Made with love </h3>
  </footer>
  </body>