{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='codeuniversity.jpg') }}" />   
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar iaculis diam in euismod. Praesent egestas eget mauris nec blandit. Aenean sed eros quis orci sagittis luctus ac id dolor. Cras ullamcorper ante vitae dui feugiat ornare. Praesent ipsum tortor, luctus eget lacinia non, sagittis non arcu. Morbi pretium nibh sollicitudin enim luctus, vel convallis nunc condimentum. Sed vulputate eu mauris vitae aliquet. Praesent mollis, ligula non ultricies malesuada, orci diam ullamcorper odio, a porttitor odio leo vitae urna. Phasellus egestas ac purus non iaculis. Sed a rhoncus neque, at sollicitudin est. Phasellus facilisis sit amet nisi at interdum. Praesent posuere pharetra lectus, rhoncus convallis ante ultricies in. </p>
{% endblock %}